.home-page {
    padding: 20px;
}

.div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    max-width: 400px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  }

.home-page h1 {
    color: #222;
    font-size: 24px;
    margin-bottom: 20px;
}

.user{
    text-transform: uppercase;
}

.task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.add-task-button{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    font-weight: 600;
}

.task-card {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    max-width: 300px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.task-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.task-card h2 {
    color: #444;
    font-size: 20px;
    margin-bottom: 10px;
}

.task-card p {
    color: #666;
    font-size: 16px;
}