.project-page {
    padding: 20px;
}

.project-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.project-page h1 {
    color: #222;
    font-size: 24px;
    margin: 0;
}

.new-project-button {
    background-color: #ba68c8;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.3s, box-shadow 0.3s;
}

.new-project-button:hover {
    background-color: #9c52a5;
    color: #ffffff;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-page-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card h2 {
    color: #444;
    font-size: 20px;
    margin-bottom: 10px;
}

.project-card p {
    color: #666;
    font-size: 16px;
}

  .link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .back-link {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .back-link:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
  }
  
  .nav-icon {
    margin-right: 5px; /* Espace entre l'icône et le texte */
  }