.task-columns {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.task-column {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 300px;
}

.task-item {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: grab;
}

.task-detail-page {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 40px auto;
}

.task-detail-page h1 {
    font-size: 28px;
    color: #444;
    margin-bottom: 20px;
}

.task-detail-page p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(70, 70, 70);
    background-color: rgb(247, 247, 247);
    font-weight: bold;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    transition: color 0.3s;
}

.back-link:hover {
    color: #308276;
}

/* Style de base du bouton */
.button-delete {
    background-color: #e74c3c; /* Rouge vif */
    color: white; /* Texte en blanc */
    border: none;
    border-radius: 5px; /* Coins légèrement arrondis */
    padding: 10px 20px; /* Espacement interne du bouton */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur en forme de main lorsqu'on survole */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animation douce */
  }
  
  /* Effet au survol */
  .button-delete:hover {
    background-color: #c0392b; /* Changement de couleur au survol */
    transform: scale(1.05); /* Légère agrandissement au survol */
  }
  
  /* Effet au clic */
  .button-delete:active {
    transform: scale(0.98); /* Réduction au clic pour donner un effet de pression */
  }
  
  /* Option pour désactiver le bouton */
  .button-delete:disabled {
    background-color: #bdc3c7; /* Gris clair quand désactivé */
    cursor: not-allowed; /* Curseur en forme de croix pour signaler qu'il est désactivé */
  }